{{/*
<html>
<body>
	<div>
*/}}
	</div>
	<footer>
		<div class="ui container">
			<div class="ui left">
				© 2017 GitHorse (Fork Gogs) {{if (or .ShowFooterVersion .PageIsAdmin)}}{{.i18n.Tr "version"}}: {{AppVer}}{{end}} {{if ShowFooterTemplateLoadTime}}{{.i18n.Tr "page"}}: <strong>{{LoadTimes .PageStartTime}}</strong> {{.i18n.Tr "template"}}: <strong>{{call .TmplLoadTimes}}</strong>{{end}}
			</div>
			<div class="ui right links">
				{{if .ShowFooterBranding}}
					<a target="_blank" href="https://github.com/gityflow/githorse"><i class="fa fa-github-square"></i><span class="sr-only">GitHub</span></a>
					<a target="_blank" href="https://twitter.com/GogsHQ"><i class="fa fa-twitter"></i><span class="sr-only">Twitter</span></a>
					<a target="_blank" href="http://weibo.com/gogschina"><i class="fa fa-weibo"></i><span class="sr-only">Sina Weibo</span></a>
				{{end}}
				<div class="ui language bottom floating slide up dropdown link item">
					<i class="world icon"></i>
					<div class="text">{{.LangName}}</div>
					<div class="menu">
						{{range .AllLangs}}
							<a class="item {{if eq $.Lang .Lang}}active selected{{end}}" href="{{if eq $.Lang .Lang}}#{{else}}{{$.Link}}?lang={{.Lang}}{{end}}">{{.Name}}</a>
						{{end}}
					</div>
				</div>
				<a href="/assets/librejs/librejs.html" style="display:none" data-jslicense="1">Javascript Licenses</a>
				<a target="_blank" href="https://gogs.io">{{.i18n.Tr "website"}}</a>
				{{if (or .ShowFooterVersion .PageIsAdmin)}}<span class="version">{{GoVer}} V2</span>{{end}}
			</div>
		</div>
	</footer>
</body>


<script src="{{AppSubURL}}/v2/js/githorse.js"></script>


</html>
