{{template "v2/base/head" .}}

<div class="ui vertical labeled fixed icon menu horse-left-menu-bg">
	<a class="item">
		<img class="ui centered mini horse-png image" src="img/logos/githorse.png">
	</a>
	<a class="item  horse-color-azure active">
		<i class="download centered icon horse-color-azure"></i>
		Install
	</a>
</div>
<div class="horse-nav horse-install-content">
	<div class="ui secondary pointing menu">
		<div class="item centred horse-slidbar">
			<i class="sidebar big icon" ></i>
		</div>
		<a class="item centered">
			<i class="download large icon "></i>
			Installation
		</a>
	</div>
</div>
